extends basic

block header
    link(rel='stylesheet', href='/stylesheets/index.css')
    .navbar.navbar-fixed-top.navbar-inverse#scrollBar
        .container
            .navbar-header
                button(type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#myNavbar'
                    aria-expanded='false' aria-controls='navbar')
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/information') #{user.username}
            .navbar-collapse.collapse#myNavbar
                ul.nav.navbar-nav.navbar-right
                    li.active
                        a(href='#section1') 企业
                    li
                        a(href='#section2') 求职者

block content
    #section1.container
        .page-header
            h2.text-center 企业
                a(href='/enterprise/add').link --新增
        include enterprise
    #section2.container
        .page-header
            h2.text-center 求职者
                a(href='/engineer/add').link --新增
        include engineer
