extends basic

block content
  #main_body.text-center
      form(action=action method='post')
          .row
              div(class="col-md-4 col-md-offset-2 text-right") 用户名:
              div(class="col-md-4 text-left")
                  input(type="text" name="username")
          br
          .row
              div(class="col-md-4 col-md-offset-2 text-right") 密码:
              div(class="col-md-4 text-left")
                  input(type="password" name="password")
          <br>
          .row
              div(class="col-md-12 btn-block")
                  button(type="submit") 登录
