extends basic

block content
    #login_body.container.text-center
        p All user infomation
        ol
            each user in users
                li.text-left #{user.username} : #{user.telephone}
