body {
    position: relative;
    background-color: #ddd;
    min-height: 30em;
}

a {
    color: #00B7FF;
}

h1 {
    color: orange;
    text-align: center;
}

p {
    font-family: "Times New Roman";
    font-size: 20px;
}

.navbar {
    background-color: #e4b9c0;
    height: 2em;
}
.navbar button {
    background-color: gray;
}

.bottom {
    height: 80px;
    background: #00CCFF;
}

.bottom footer
{
    padding-top: 15px;
}

.social {
    width: 40px;
    display: inline;
}
/*.bottom p:nth-child(1) {*/
/*background-color: #00AA88;*/
/*}*/


#main_body {
    min-height: 30em;
    padding-top: 5em;
    background-color: #00B7FF;
}

ol>li {
    color: green;
    padding: 1em 0 0 0;
    font-family: "Times New Roman";
    font-size: 1.5em;
}

.diary_content {
    min-height: 30em;
    padding-top: 5em;
    background-color: #00B7FF;
}