body {
    padding-top: 2em;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: white;
}

#section {
    background-color: white;
    padding-bottom: 2em;
    padding-top: 2em;
}

#section .link {
    font-style: italic;
    font-size: smaller;
    color: blue;
}

.table {
    text-align: center;
    border: solid 0.2em black;
}

.table th {
    border: solid 0.2em black;
    text-align: center;
}

.table td {
    border: solid 0.2em black;
}

.table td a{
    color: blue;
}
