body {
    padding-top: 2em;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-color: white;
}

#section1 {
    background-color: #AAAABB;
    padding-bottom: 2em;
    padding-top: 2em;
}

#section2 {
    background-color: #AAFFAA;
    padding-bottom: 2em;
    padding-top: 2em;
}

#section3 {
    background-color: white;
    padding-bottom: 2em;
    padding-top: 2em;
}

#section1 .link {
    font-style: italic;
    font-size: smaller;
    color: #a94442;
}

#section2 .link {
    font-style: italic;
    font-size: smaller;
    color: #a94442;
}
/* article */
.table {
    text-align: center;
    border: solid 0.2em black;
}

.table th {
    border: solid 0.2em black;
    text-align: center;
}

.table td {
    border: solid 0.2em black;
}

.table td a{
    color: #a6e1ec;
}
